@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}
html {
  font-size: 13px;
  color: #2e2e2e;
}
body {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: 22ee2e;
}
img {
  border: 0;
}
.layout-width {
  min-width: 320px;
  min-width: 1150px;
  padding: 0 10px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.block {
  display: block;
}

main.main-content {
  min-height: 650px;
}
